  <body>
  <div id="credentials-container">
    <mat-tab-group dynamicHeight mat-align-tabs="center">
      <mat-tab label="Iniciar sesión">
        <div class="login-credentials-container">
          Small content
        </div>
      </mat-tab>
      <mat-tab label="Registrarse">
        <div class="singup-credentials-container">
          Large content
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div id="landscape">
    <div>
   <p>
   <img src="../../../../images/rotate (1).png" alt="rotating_phone"><br>
   ¡Gira el móvil! <br><span>Please</span>
   </p>
   </div>
 </div>
</body>

