
@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@100;400;500;700&display=swap');

#calendario {
  float: right;
  zoom: 0.89;
  font-family: 'Sarabun', sans-serif;
  font-size: 125%;
  font-weight: 700;
  color: rgb(121, 121, 121);
}

.form-field {
  margin-left: 2%;
  margin-right: 2%;
}
