<body>
  <p id="username">Username</p>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <div id="grafica1" class="grafica-container">
        <app-pie-chart></app-pie-chart>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div id="grafica2" class="grafica-container">
        <app-line-chart></app-line-chart>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=1>
      <div id="grafica3" class="grafica-container">
        <app-bar-chart></app-bar-chart>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</body>

