<div class="chart-wrapper">

  <button mat-mini-fab [matMenuTriggerFor]="menu" id="menu-btn" color="#31E04E">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click) = "formAhorros()">
      <mat-icon>add</mat-icon>
      <span>Añadir un registro</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>edit e3c9</mat-icon>
      <span>Editar un registro</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>close</mat-icon>
      <span>Borrar un registro</span>
    </button>
  </mat-menu>

  <canvas baseChart
  [datasets]="barChartData"
  [labels]="barChartLabels"
  [options]="barChartOptions"
  [plugins]="barChartPlugins"
  [colors]="barChartColors"
  [legend]="barChartLegend"
  [chartType]="barChartType">
  </canvas>
Dinero ganado y ahorrado por mes
</div>
