
<div mat-dialog-content>
  <mat-tab-group dynamicHeight mat-align-tabs="center">
    <mat-tab label="Ganado">
      <div class="ganado-credentials-container">
        <form (ngSubmit)="sendGanadoDatos(GanadoDatosForm)" #GanadoDatosForm="ngForm">

            <mat-form-field appearance="fill">
              <mat-label>Mes</mat-label>
              <mat-select id="mesAhSelect" required="true" ngModel #mes="ngModel" name="mes">
                <mat-option value="Enero">Enero</mat-option>
                <mat-option value="Febrero">Febrero</mat-option>
                <mat-option value="Marzo">Marzo</mat-option>
                <mat-option value="Abril">Abril</mat-option>
                <mat-option value="Mayo">Mayo</mat-option>
                <mat-option value="Junio">Junio</mat-option>
                <mat-option value="Julio">Julio</mat-option>
                <mat-option value="Agosto">Agosto</mat-option>
                <mat-option value="Septiembre">Septiembre</mat-option>
                <mat-option value="Octubre">Octubre</mat-option>
                <mat-option value="Noviembre">Noviembre</mat-option>
                <mat-option value="Diciembre">Diciembre</mat-option>
              </mat-select>
              <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" id="dineroGanado-field">
              <input matInput
              type="number"
              id="dineroGanado"
              name="dineroGanado"
              ngModel
              #dineroGanado = "ngModel"
              required
              [min]="0.01">

              <span matSuffix>€</span>
              <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>

          <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cerrar</button>
            <button mat-button type="submit">Introducir</button><br>
          </div>

        </form>
      </div>
    </mat-tab>

    <mat-tab label="Ahorros">
      <div class="ahorros-credentials-container">
        <form (ngSubmit)="sendAhrrDatos(AhrrDatosForm)" #AhrrDatosForm="ngForm">
            <mat-form-field appearance="fill">
              <mat-label>Mes</mat-label>
              <mat-select id="mesGaSelect" required="true" ngModel #mesAh="ngModel" name="mesAh">
                <mat-option value="Enero">Enero</mat-option>
                <mat-option value="Febrero">Febrero</mat-option>
                <mat-option value="Marzo">Marzo</mat-option>
                <mat-option value="Abril">Abril</mat-option>
                <mat-option value="Mayo">Mayo</mat-option>
                <mat-option value="Junio">Junio</mat-option>
                <mat-option value="Julio">Julio</mat-option>
                <mat-option value="Agosto">Agosto</mat-option>
                <mat-option value="Septiembre">Septiembre</mat-option>
                <mat-option value="Octubre">Octubre</mat-option>
                <mat-option value="Noviembre">Noviembre</mat-option>
                <mat-option value="Diciembre">Diciembre</mat-option>
              </mat-select>
              <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill" id="dinero-field">
              <input matInput
              type="number"
              id="dineroAhorrado"
              name="dineroAhorrado"
              ngModel
              #dineroAhorrado = "ngModel"
              required
              [min]="0.01">

              <span matSuffix>€</span>
              <mat-error>Campo obligatorio</mat-error>
            </mat-form-field>

          <div mat-dialog-actions>
            <button mat-button (click)="onNoClick()">Cerrar</button>
            <button mat-button type="submit">Introducir</button><br>
          </div>
        </form>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>

